
*{
    margin: 0;
    padding: 0;
    margin-left: 0;
    /* background: #000000; */
    
}


.Valvoline{
    display: flex;
    border: 1px solid ;
    height: 320px;
  
}

.Valvoline:hover{
    transition: all 0.5s ease-in;
    cursor: pointer;
}

.aboveSignUp-Box{
    background: #1E1E1E;
    height: 200px;
    gap: 20px;
    display: flex;
    border-radius: 20px;
}

.div{
    width: 430px;
    height: 85px;
   border-radius: 5px;
    background: white;
   display: flex;
   gap: 4px;

   
}

#iconD{
    margin-top:5px;
    height: 30px;
    width: 30px;
}

.signUpBox{

    width: 98%;
    background: #FFCC00;
    border: 1px solid yellow;
    height: 130px;
    margin-top: -70px;
    margin-left: 20px;
    border-radius: 16px;

}

.iconSC{
    height: 77px;
    width: 77px;
    margin-left: 30px;
    margin-top: 20px;
}

/*
Slide Show CSS
*/

.slide-container{
    border-top: 1px solid whitesmoke;
}

.image-container img{
   
    padding: 25px 25px 25px 25px;
    color: whitesmoke;
   
}

.image-container{

    display: flex;
    gap: 30px;
    margin-left: 10px;
}

/*

*/

.outline{
    width: 98%;
    margin-left: 10px;
    border: 1px solid yellow;
    margin-top: 10px;

}

.iconH{

    color: white;
    height: 45px;
    width: 45px;
    border: 1px solid yellow;
    border-radius: 50%;
    padding: 5px 5px 5px 5px;
    margin-top: -20px;
    background: #1E1E1E;
    margin-left: 15px;
    

}

.iconB{

    color: white;
    height: 45px;
    width: 45px;
    border: 1px solid yellow;
    border-radius: 50%;
    padding: 5px 5px 5px 5px;
    margin-top: 20px;
    background: #1E1E1E;
    margin-left: 20px;

}

.iconR{
    color: yellow;
    height: 32px;
    width: 32px;
    margin-left: 450px;
    margin-top: 8px;
}


