.singleProduct {
    width: 80%;
    margin: auto;
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
  }
  .singleProduct > div:nth-child(1) {
    width: 40%;
  }
  .singleProduct > div img {
    padding: 1rem;
    border: 1px solid rgb(230, 222, 19);
    border-radius: 8px;
    height: 80%;
    width: 60%;
  }
  .singleProduct > div:nth-child(1) img {
    width: 100%;
  }
  .singleProduct > div:nth-child(2) {
    width: 55%;
  }
  .proNames {
    line-height: 25px;
  }
  .proNames h1 {
    font-weight: 700;
    font-size: 14px;
  }
  .proNames p {
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 2px;
  }
  .proRatings {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0.5rem 0;
  }
  .proPrices {
    margin: 1rem 0;
  }
  .proOld {
    text-decoration: line-through;
    font-weight: 400;
  }
  .proPrices > p:nth-child(1) {
    font-size: 13px;
    font-weight: 600;
  }
  .proPrices > p:nth-child(2) {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
  }
  .proDetails {
    line-height: 30px;
  }
  .proDetails h1 {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
  }
  .proDetails ul {
    text-decoration: none;
    list-style: none;
  }
  
  .proDetails li {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .proTick {
    border-radius: 50px;
    color: white;
    background-color: #e8dd14;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  li {
    font-weight: 400;
  }
  li span {
    font-weight: 300;
    letter-spacing: 1px;
  }
  .proQuantity > p {
    margin: 1rem 0 0.6rem 0;
    font-weight: 500;
    letter-spacing: 1px;
  }
  .proSlider {
    width: 56%;
    margin: 10px 0;
  }
  .proAdd {
    display: flex;
    align-items: center;
    margin: 10px 0;
    gap: 1rem;
  }
  .proAdd button {
    background-color: rgb(234, 231, 34);
    color: rgb(1, 1, 1);
    padding: 10px 2rem;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
  }
  .proAdd button:hover {
    background-color:rgb(165, 116, 10);
    color: black;
  }
  .proAdd div {
    font-size: 30px;
    color: rgb(234, 231, 34);
  }
  .proContainer {
    width: 80%;
    margin: auto;
  }
  
  /* Skeleton css */
  .skeleton {
    display: flex;
    width: 80%;
    margin: 4rem auto;
    justify-content: space-between;
  }
  .skeleton > div {
    width: 48%;
  }
  
  @media screen and (max-width: 810px) {
    .singleProduct {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
    }
    .skeleton {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
    }
    .skeleton > div {
      width: 90%;
    }
   
    .singleProduct > div:nth-child(1) {
      width: 100%;
  
    }
    .singleProduct > div:nth-child(2) {
      width: 100%;
    }
  
  }
  
  @media screen and (max-width: 460px) {
    .singleProduct > div:nth-child(1) {
      width: 95%;
    }
    .singleProduct > div:nth-child(1) img {
      width: 100%;
    }
    .singleProduct > div:nth-child(2) {
      width: 80%;
    }
    .selector {
      display: none;
    }
    .proNames h1 {
      font-weight: 00;
      font-size: 12px;
    }
   
    .proPrices {
      margin: 0.5rem 0;
    }
    .proPrices > p:nth-child(1) {
      font-size: 10px;
      font-weight: 500;
    }
    .proPrices > p:nth-child(2) {
      font-size: 13px;
    }
  
    .proDetails {
      line-height: 25px;
    }
    .proDetails h1 {
      font-size: 15px;
      letter-spacing: 0px;
    }
    
    li {
      font-size: 10px;
    }
    .proQuantity > p {
      font-size: 15px;
      margin: 0.5rem 0 0 0;
    }
   
    .proAdd {
      margin-top: 20px;
    }
    .proAdd button {
      padding: 7px 15px;
    }
  }